@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    html, body {
        height: 100%; /* Asegura que el body ocupe toda la pantalla */
        margin: 0; /* Evita espacios extra */
    }

    .main {
        min-height: 100vh; /* 100% de la altura de la ventana */
        background: radial-gradient(circle,rgba(255, 227, 243, 1) 0%, rgba(202, 220, 250, 1) 84%, rgba(148, 187, 233, 1) 100%);
    }
</style>
